img.img-responsive.two {
    padding: 80px;
    margin-top: -65px;
}

.container-fluid.footer.footer {
    background: black;
    color:white;
}

img.img-responsive.img-size {
    margin: 37px;
}

.col-md-4.col-lg-3.down {
    /* margin: 50px; */
    margin-top: 48px;
}


img.img-responsive.img-rounded.ia {
    height: 202px;
    width: 265px;
}

h5.text-center.hei {
    height: 20px;
}


.col-md-6.divsarni {
    margin-left: 276px;
}

a.btn.btn-primary.dan {
    margin-top: 259px;
}





.col-md-7.tan {
    margin-top: 169px;
}